# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules
.pnpm-store

# Build
dist
dist-ssr
*.local
.vite/

# Editor
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS
.DS_Store
Thumbs.db

# Supabase generated
supabase/.branches
supabase/.temp
